
version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: mandates
    ports:
      - "5432:5432"
    volumes:
      - pg:/var/lib/postgresql/data

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"   # UI
      - "1025:1025"   # SMTP


  backend:
    build: ./backend
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
      - mailhog
    ports:
      - "3001:3000"

volumes:
  pg: {}
  storage: {}
